In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [13]:
## csv of s&p 500 data from yahoo finance
filepath = "../Input/^GSPC.csv"

# Load spreadsheet
xl = pd.ExcelFile("../Input/government_shutdown_stats.xlsx")

# Load a sheet into a DataFrame by name:
shutdown_df = xl.parse(xl.sheet_names[0])

In [14]:
## read stock csv
stock_prices_unclean = pd.read_csv(filepath)

In [15]:
# ## make the index the date to help with cleaning
stock_prices_unclean = stock_prices_unclean.set_index(['Date'])

In [27]:
stock_prices_unclean.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1976-09-15,103.940002,104.699997,103.279999,104.250000,104.250000,17570000
1976-09-16,104.250000,105.589996,103.839996,105.339996,105.339996,19620000
1976-09-17,105.339996,106.809998,105.139999,106.269997,106.269997,28270000
1976-09-20,106.269997,107.199997,105.739998,106.320000,106.320000,21730000
1976-09-21,106.320000,108.129997,106.089996,107.830002,107.830002,30300000

In [17]:
sum(shutdown_df["length_in_days"])

174

In [31]:
## loops through all of csv, only keeping date ranges we need
stock_prices_clean = pd.DataFrame()
for shutdown in range(len(shutdown_df)):
    try: 
        from_date = stock_prices_unclean.index.get_loc(shutdown_df["from_date"][shutdown])
    except KeyError: 
        from_date = stock_prices_unclean.index.get_loc(str((pd.to_datetime(shutdown_df["from_date"][shutdown]) + datetime.timedelta(days=2)).date()))

    try: 
        to_date = stock_prices_unclean.index.get_loc(shutdown_df["to_date"][shutdown])
    except KeyError: 
        to_date = stock_prices_unclean.index.get_loc(str((pd.to_datetime(shutdown_df["to_date"][shutdown]) + datetime.timedelta(days=2)).date()))

    
    stock_prices_clean = stock_prices_clean.append(stock_prices_unclean.iloc[from_date-5:to_date+5])

In [32]:
stock_prices_clean

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1976-09-23,107.459999,107.959999,106.400002,106.919998,106.919998,24210000
1976-09-24,106.919998,107.360001,106.029999,106.800003,106.800003,17400000
1976-09-27,106.800003,107.699997,106.349998,107.269997,107.269997,17430000
1976-09-28,107.269997,107.540001,105.610001,105.919998,105.919998,20440000
1976-09-29,105.919998,106.449997,104.830002,105.370003,105.370003,18090000
1976-09-30,105.370003,105.839996,104.570000,105.239998,105.239998,14700000
1976-10-01,105.239998,105.750000,103.599998,104.169998,104.169998,20620000
1976-10-04,104.169998,104.620003,103.419998,104.029999,104.029999,12630000
1976-10-05,104.029999,104.250000,102.510002,103.230003,103.230003,19200000
1976-10-06,103.230003,103.720001,102.050003,102.970001,102.970001,20870000
1976-10-07,102.970001,103.900002,102.160004,103.540001,103.540001,19830000
1976-10-08,103.540001,104.000000,102.239998,102.559998,102.559998,16740000
1976-10-11,102.480003,102.480003,100.980003,101.639999,101.639999,14620000
1976-10-12,101.639999,102.190002,100.379997,100.809998,100.809998,18210000
1976-10-13,100.809998,102.440002,100.540001,102.120003,102.120003,21690000
1976-10-14,102.120003,102.139999,100.279999,100.849998,100.849998,18610000
1976-10-15,100.849998,101.500000,100.019997,100.879997,100.879997,16210000
1977-09-23,95.089996,95.690002,94.599998,95.040001,95.040001,18760000
1977-09-26,95.040001,95.680000,94.440002,95.379997,95.379997,18230000
1977-09-27,95.379997,96.010002,94.760002,95.239998,95.239998,19080000
1977-09-28,95.239998,95.910004,94.730003,95.309998,95.309998,17960000
1977-09-29,95.309998,96.279999,95.089996,95.849998,95.849998,21160000
1977-09-30,95.849998,96.849998,95.660004,96.529999,96.529999,21170000
1977-10-03,96.529999,97.110001,95.860001,96.739998,96.739998,19460000
1977-10-04,96.739998,97.269997,95.730003,96.029999,96.029999,20850000
1977-10-05,96.029999,96.360001,95.199997,95.680000,95.680000,18300000
1977-10-06,95.680000,96.449997,95.300003,96.050003,96.050003,18490000
1977-10-07,96.050003,96.510002,95.480003,95.970001,95.970001,16250000
1977-10-10,95.970001,96.150002,95.320000,95.750000,95.750000,10580000
1977-10-11,95.750000,95.970001,94.730003,94.930000,94.930000,17870000
...,...,...,...,...,...,...
2013-10-10,1660.880005,1692.560059,1660.880005,1692.560059,1692.560059,3362300000
2013-10-11,1691.089966,1703.439941,1688.520020,1703.199951,1703.199951,2944670000
2013-10-14,1699.859985,1711.030029,1692.130005,1710.140015,1710.140015,2580580000
2013-10-15,1709.170044,1711.569946,1695.930054,1698.060059,1698.060059,3327740000
2013-10-16,1700.489990,1721.760010,1700.489990,1721.540039,1721.540039,3486180000
2013-10-17,1720.170044,1733.449951,1714.119995,1733.150024,1733.150024,3453590000
2013-10-18,1736.719971,1745.310059,1735.739990,1744.500000,1744.500000,3664890000
2013-10-21,1745.199951,1747.790039,1740.670044,1744.660034,1744.660034,3052710000
2013-10-22,1746.479980,1759.329956,1746.479980,1754.670044,1754.670044,3850840000
2013-10-23,1752.270020,1752.270020,1740.500000,1746.380005,1746.380005,3713380000
2018-01-12,2770.179932,2787.850098,2769.639893,2786.239990,2786.239990,3573970000
2018-01-16,2798.959961,2807.540039,2768.639893,2776.419922,2776.419922,4325970000
2018-01-17,2784.989990,2807.040039,2778.379883,2802.560059,2802.560059,3778050000
2018-01-18,2802.399902,2805.830078,2792.560059,2798.030029,2798.030029,3681470000
2018-01-19,2802.600098,2810.330078,2798.080078,2810.300049,2810.300049,3639430000
2018-01-22,2809.159912,2833.030029,2808.120117,2832.969971,2832.969971,3471780000
2018-01-23,2835.050049,2842.239990,2830.590088,2839.129883,2839.129883,3519650000
2018-01-24,2845.419922,2852.969971,2824.810059,2837.540039,2837.540039,4014070000
2018-01-25,2846.239990,2848.560059,2830.939941,2839.250000,2839.250000,3835150000
2018-01-26,2847.479980,2872.870117,2846.179932,2872.870117,2872.870117,3443230000
2018-02-02,2808.919922,2808.919922,2759.969971,2762.129883,2762.129883,4301130000
2018-02-05,2741.060059,2763.389893,2638.169922,2648.939941,2648.939941,5283460000
2018-02-06,2614.780029,2701.040039,2593.070068,2695.139893,2695.139893,5891660000
2018-02-07,2690.949951,2727.669922,2681.330078,2681.659912,2681.659912,4626570000
2018-02-08,2685.010010,2685.270020,2580.560059,2581.000000,2581.000000,5305440000
2018-02-09,2601.780029,2638.669922,2532.689941,2619.550049,2619.550049,5680070000
2018-02-12,2636.750000,2672.610107,2622.449951,2656.000000,2656.000000,4055790000
2018-02-13,2646.270020,2668.840088,2637.080078,2662.939941,2662.939941,3472870000
2018-02-14,2651.209961,2702.100098,2648.870117,2698.629883,2698.629883,4003740000
2018-02-15,2713.459961,2731.510010,2689.820068,2731.199951,2731.199951,3684910000