In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
## csv of s&p 500 data from yahoo finance
filepath = "../Input/^GSPC.csv"

# Load spreadsheet
xl = pd.ExcelFile("../Input/government_shutdown_stats.xlsx")

# Load a sheet into a DataFrame by name:
shutdown_df = xl.parse(xl.sheet_names[0])

In [30]:
## read stock csv
stock_prices_unclean = pd.read_csv(filepath)

In [31]:
## make the index the date to help with cleaning
stock_prices_unclean = stock_prices_unclean.set_index(['Date'])

In [32]:
stock_prices_unclean.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1976-09-30,105.370003,105.839996,104.570000,105.239998,105.239998,14700000
1976-10-01,105.239998,105.750000,103.599998,104.169998,104.169998,20620000
1976-10-04,104.169998,104.620003,103.419998,104.029999,104.029999,12630000
1976-10-05,104.029999,104.250000,102.510002,103.230003,103.230003,19200000
1976-10-06,103.230003,103.720001,102.050003,102.970001,102.970001,20870000

In [54]:
shutdown_df

,shutdown_number,from_date,to_date,length_in_days,pres_party_in_power,president,senate_party_in_power,senate_seats,house_party_in_power,house_seats
0,1,1976-09-30,1976-10-11,12,R,Ford,D,62 - 38,D,291 - 144
1,2,1977-09-30,1977-10-13,14,D,Carter,D,59 - 41,D,292 - 143
2,3,1977-10-31,1977-11-09,10,D,Carter,D,59 - 41,D,292 - 143
3,4,1977-11-30,1977-12-09,10,D,Carter,D,59 - 41,D,292 - 143
4,5,1978-09-30,1978-10-18,19,D,Carter,D,59 - 41,D,292 - 143
5,6,1979-09-30,1979-10-12,13,D,Carter,D,58 - 42,D,277 - 158
6,7,1981-11-20,1981-11-23,4,R,Reagan,R,53 - 47,D,244 - 191
7,8,1982-09-30,1982-10-02,3,R,Reagan,R,53 - 47,D,244 - 191
8,9,1982-12-17,1982-12-21,5,R,Reagan,R,53 - 47,D,244 - 191
9,10,1983-11-10,1983-11-14,5,R,Reagan,R,55 - 45,D,271 - 164
10,11,1984-09-30,1984-10-03,4,R,Reagan,R,55 - 45,D,270 - 165
11,12,1984-10-03,1984-10-05,3,R,Reagan,R,55 - 45,D,270 - 165
12,13,1986-10-16,1986-10-18,3,R,Reagan,R,53 - 47,D,253 - 182
13,14,1987-12-18,1987-12-20,3,R,Reagan,D,54 - 46,D,258 - 177
14,15,1990-10-05,1990-10-09,5,R,G. H. W. Bush,D,55 - 45,D,258 - 176
15,16,1995-11-13,1995-11-19,7,D,Clinton,R,53 - 47,R,233 - 199
16,17,1995-12-05,1996-01-06,33,D,Clinton,R,53 - 47,R,235 - 198
17,18,2013-10-01,2013-10-17,17,D,Obama,D,54 - 46,R,232 - 200
18,19,2018-01-20,2018-01-22,3,R,Trump,R,51 - 49,R,238 - 193
19,20,2018-02-09,2018-02-09,1,R,Trump,R,51 - 49,R,238 - 193

In [61]:
## loops through all of csv, only keeping dates of 
stock_prices_clean = pd.DataFrame()
for shutdown in range(len(shutdown_df)):
    stock_prices_clean = stock_prices_clean.append(stock_prices_unclean.loc[shutdown_df['from_date'][shutdown]:shutdown_df['to_date'][shutdown]])

In [62]:
stock_prices_clean

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1976-09-30,105.370003,105.839996,104.570000,105.239998,105.239998,14700000
1976-10-01,105.239998,105.750000,103.599998,104.169998,104.169998,20620000
1976-10-04,104.169998,104.620003,103.419998,104.029999,104.029999,12630000
1976-10-05,104.029999,104.250000,102.510002,103.230003,103.230003,19200000
1976-10-06,103.230003,103.720001,102.050003,102.970001,102.970001,20870000
1976-10-07,102.970001,103.900002,102.160004,103.540001,103.540001,19830000
1976-10-08,103.540001,104.000000,102.239998,102.559998,102.559998,16740000
1976-10-11,102.480003,102.480003,100.980003,101.639999,101.639999,14620000
1977-09-30,95.849998,96.849998,95.660004,96.529999,96.529999,21170000
1977-10-03,96.529999,97.110001,95.860001,96.739998,96.739998,19460000
1977-10-04,96.739998,97.269997,95.730003,96.029999,96.029999,20850000
1977-10-05,96.029999,96.360001,95.199997,95.680000,95.680000,18300000
1977-10-06,95.680000,96.449997,95.300003,96.050003,96.050003,18490000
1977-10-07,96.050003,96.510002,95.480003,95.970001,95.970001,16250000
1977-10-10,95.970001,96.150002,95.320000,95.750000,95.750000,10580000
1977-10-11,95.750000,95.970001,94.730003,94.930000,94.930000,17870000
1977-10-12,94.820000,94.820000,93.400002,94.040001,94.040001,22440000
1977-10-13,94.040001,94.320000,92.889999,93.459999,93.459999,23870000
1977-10-31,92.610001,93.029999,91.849998,92.339996,92.339996,17070000
1977-11-01,92.190002,92.190002,91.000000,91.349998,91.349998,17170000
1977-11-02,91.349998,91.589996,90.290001,90.709999,90.709999,20760000
1977-11-03,90.709999,91.180000,90.010002,90.760002,90.760002,18090000
1977-11-04,90.760002,91.970001,90.720001,91.580002,91.580002,21700000
1977-11-07,91.580002,92.699997,91.320000,92.290001,92.290001,21270000
1977-11-08,92.290001,92.970001,91.820000,92.459999,92.459999,19210000
1977-11-09,92.459999,93.269997,92.010002,92.980003,92.980003,21330000
1977-11-30,94.550003,95.169998,93.779999,94.830002,94.830002,22670000
1977-12-01,94.830002,95.449997,94.230003,94.690002,94.690002,24220000
1977-12-02,94.690002,95.250000,94.080002,94.669998,94.669998,21160000
1977-12-05,94.669998,95.010002,93.910004,94.269997,94.269997,19160000
...,...,...,...,...,...,...
1995-12-14,621.690002,622.880005,616.130005,616.919983,616.919983,465300000
1995-12-15,616.919983,617.719971,614.460022,616.340027,616.340027,636800000
1995-12-18,616.340027,616.340027,606.130005,606.809998,606.809998,426270000
1995-12-19,606.809998,611.940002,605.049988,611.929993,611.929993,478280000
1995-12-20,611.929993,614.270020,605.929993,605.940002,605.940002,437680000
1995-12-21,605.940002,610.520020,605.940002,610.489990,610.489990,415810000
1995-12-22,610.489990,613.500000,610.450012,611.950012,611.950012,289600000
1995-12-26,611.960022,614.500000,611.960022,614.299988,614.299988,217280000
1995-12-27,614.299988,615.729980,613.750000,614.530029,614.530029,252300000
1995-12-28,614.530029,615.500000,612.400024,614.119995,614.119995,288660000
1995-12-29,614.119995,615.929993,612.359985,615.929993,615.929993,321250000
1996-01-02,615.929993,620.739990,613.169983,620.729980,620.729980,364180000
1996-01-03,620.729980,623.250000,619.559998,621.320007,621.320007,468950000
1996-01-04,621.320007,624.489990,613.960022,617.700012,617.700012,512580000
1996-01-05,617.700012,617.700012,612.020020,616.710022,616.710022,437110000
2013-10-01,1682.410034,1696.550049,1682.069946,1695.000000,1695.000000,3238690000
2013-10-02,1691.900024,1693.869995,1680.339966,1693.869995,1693.869995,3148600000
2013-10-03,1692.349976,1692.349976,1670.359985,1678.660034,1678.660034,3279650000
2013-10-04,1678.790039,1691.939941,1677.329956,1690.500000,1690.500000,2880270000
2013-10-07,1687.150024,1687.150024,1674.699951,1676.119995,1676.119995,2678490000
2013-10-08,1676.219971,1676.790039,1655.030029,1655.449951,1655.449951,3569230000
2013-10-09,1656.989990,1662.469971,1646.469971,1656.400024,1656.400024,3577840000
2013-10-10,1660.880005,1692.560059,1660.880005,1692.560059,1692.560059,3362300000
2013-10-11,1691.089966,1703.439941,1688.520020,1703.199951,1703.199951,2944670000
2013-10-14,1699.859985,1711.030029,1692.130005,1710.140015,1710.140015,2580580000
2013-10-15,1709.170044,1711.569946,1695.930054,1698.060059,1698.060059,3327740000
2013-10-16,1700.489990,1721.760010,1700.489990,1721.540039,1721.540039,3486180000
2013-10-17,1720.170044,1733.449951,1714.119995,1733.150024,1733.150024,3453590000
2018-01-22,2809.159912,2833.030029,2808.120117,2832.969971,2832.969971,3471780000
2018-02-09,2601.780029,2638.669922,2532.689941,2619.550049,2619.550049,5680070000

In [15]:
shutdown_df['from_date'][0]

'1976-09-30'

In [ ]:
# df = pd.DataFrame(np.random.random((200,3)))
# df['date'] = pd.date_range('2000-1-1', periods=200, freq='D')
# df = df.set_index(['date'])
# print(df.loc['2000-6-1':'2000-6-10'])